<div class="nonexistent">
    <h2>Sala não encontrada</h2>
    <lottie-player
        src="https://assets1.lottiefiles.com/private_files/lf30_tonsVH.json"
        background="transparent"
        speed="1"
        style="width: 300px; height: 300px"
        loop
        autoplay
    ></lottie-player>
    <a href="/" class="button">Voltar</a>
</div>
